*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}
.nd-par {
    font-size: 0.7rem;
    opacity: 0.5;
}
.d-par {
    font-size: 1rem;
    opacity: 0.6;
    line-height: 20px;
}

#testimonial-grid-container{
    padding: 5% 3%;
    display: grid;

}
#testimonial-1{
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
}

#testimonial-2{
    background-color: #48556a;
    color: #ffffff;
}

#testimonial-3{
    background-color: #ffffff;
    color: black;
}

#testimonial-4{
    background-color: #19212e;
    color: #ffffff;
}

#testimonial-5{
    background-color: #ffffff;
    color: black;
}

.grid-item{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
}
.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header img{
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px; 
}
#testimonial-1 #daniel {
    border: 2px solid #c9aff3;
    
}
#testimonial-4 img {
    border: 2px solid #7541c8;
}
body h2 {
    margin-bottom: 25px;
}
#testimonial-1 #quote {
    position: absolute;
    top: 0%;     
    right: 10%;
    width: 120px;
    z-index: -1;
}


@media (min-width: 576px){
   #testimonial-grid-container{
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;

   }
   #testimonial-5{
    flex-basis: 25%;
    
    }
   
   #top-container{
    display: flex;
    justify-content: space-between;
   }
   #bottom-container{
    display: flex;
    justify-content: space-between;
   }
   #left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
   }

   #testimonial-1{
    flex-basis: 65%;
}

#testimonial-2{
   flex-basis: 35%;

}

#testimonial-3{
    flex-basis: 35%;
}

#testimonial-4{
    flex-basis: 65%;
}
#left-container .grid-item{
    margin-right: 30px;
}
}